      

#body{
    background-color: blue;
}
    
    #forms{
    border: solid 1px;
    padding: 50px 30px;
    margin: 0 auto;
    border-radius: 20px 20px 20px 20px;
    width: 50%;
    text-align: center;
    background-color: aliceblue;
    position: absolute top 2px right 2px;
    
    

}
#ima{
width: 40px;
height: 50px;
}
#ima2{
    width: 40px;
    height: 50px;
}
#ima3{
    width: 40px;
    height: 50px;
}
#ima4{
    width: 40px;
    height: 50px;
}
#ima5{
    width: 40px;
    height: 50px;
}
#ima6{
    width: 15px;
    height: 20px;
}
#ima7{
    width: 10px;
    height: 2opx;
}

