#form{
    padding: 12px;
    text-align: center;
    width: 50%;
    border: 2px;
}
    p{
text-align: center;
    }
#button{
    border-radius: 5px;
    padding: 20px;
    background-color: black;
    color: aliceblue;
    
}