#form{
    padding: 12px
    text-align;center

    p{
text-align: center;
    }
#button{
    border-radius: 5px;
    padding: 20px;
    background-color: black;
    color: aliceblue;
    #image{
        height: 6px;
        width: ;
    }
}
    }
